#menu-nav {
  max-width: 1000px;
  font-family: cursive;
  margin: 130px auto;
  margin-top: 25px;
  margin-bottom: 0;
  background: rgba(64, 255, 0);
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 25%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: rgb(0, 0, 255);
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 6px;
  background-color: rgb(0, 0, 255);
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}

li {
  list-style: none;
}
